/*Global style*/
*{
	box-sizing: border-box; text-decoration: none; list-style: none;
	font-family: 'Work Sans', sans-serif;
}
*::-webkit-scrollbar {display: none;}

/*$theme_color: #F2BD57;*/

p{
	margin: 0;
}
#food_form{
	display: none;
	position: fixed;

}
body{
	position:relative;
	height: 100vh;
	width: 100vw;
	margin: 0;

	background: #F0F1EF;


	display: grid;
	grid-template-columns: 15% 82%;
	grid-template-rows: 3vw calc(100vh - 3vw - 3vw) 3vw;
	grid-template-areas: 
		"sidebar top"
		"sidebar main"
		"sidebar bottom";
	}


#sidebar{
	height: 100vh;
	grid-area: sidebar;

	padding-left: 20px;

	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-areas: 
		"avatar"
		"nav";
}

#avatar{
	grid-area: avatar;
	
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.logo{
	height: 80%;
	margin-right: 20px;

	display: flex;
	justify-content: center;
	align-items: flex-end;

}
.res_logo{

	width: 10vw;
	height: 10vw;

	border-radius: 50%;

	background-color: #F2BD57;
}
.res_name{
	height: 20%;
	margin-right: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	font-size: 20px;
	font-weight: bold;
}
#nav{
	grid-area: nav;

	padding-top: 30px;

}

#nav ul{
	padding: 0px;
}
#nav ul li a{
	display: block;

	padding-right: 30px;

	line-height: 70px;

	font-size: 18px;
	color: black;
	
	transition: .4s;
	cursor: pointer;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#nav ul a i{

	width: 30%;

	padding-left: 20px;

	margin-right: 20px;
	font-size: 2.2vw;

}
#nav ul li:hover a{


}
#manu_page{
	background-color: white;
	color: #F2BD57 !important;
	font-weight: bold; !important;
	padding-left: 10px;

	border-radius: 15px 0px 0px 15px;

}
main{
	position: relative;
	grid-area: main;

	background: white;
	border-radius: 3vw 3vw 3vw 3vw;

	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);

	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: 30% 20% 50%;
	grid-template-areas: 
		"banner cart "
		"searchbox cart"
		"menu cart";

}
#banner{
	grid-area: banner;
	padding: 0px 2vh 0vh 5vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
#banner h1{
	margin-bottom: 5px;
	font-family: 'Crimson Text', serif;

	font-size: 3vw;
}
#banner p{
	font-size: 2vw;

	margin-top: 5px;
	margin-bottom: 20px;
	color: #AFABAB;
}
#open_cart{
	display: none;
}
#check{
	display: none;
}
label #btn,label #cancel{
	display: none;
}
#searchbox{
	grid-area: searchbox;
	padding: 0px 2vh 0vh 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
#search_bar{
	position: relative;	
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
#search_bar input{
	flex: 0 1 70%;
	height: 100%;

	border:  0;
	outline: none;
	padding: 10px 20px;

	font-size: 1.5vw;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #F2BD57;
}
#search_bar .search_btn, .filter_btn{
	flex: 0 1 15%;
	height: 100%;

	background-color: #F2BD57;

	display: flex;
	justify-content: center;
	align-items: center;
}
#search_bar .search_btn{ border-radius:  3px 0px 0px 3px;}
#search_bar .filter_btn{ border-radius:  0px 3px 3px 0px;}
.fa-search, .fa-sliders-h{ 
	font-size: 2vw;
	color: white;
}

#category-head{
	position: relative;
	
	width: 100%;
	height: 50%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding-bottom: .5vh;

	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-wrap: nowrap;
	overflow-x: scroll;
}
#category-head::-webkit-scrollbar {display: block;}
.category{
	min-width: 10vw;
	height: 100%;
	margin-right: 2vw;

	display: flex;
	justify-content: space-around;
	align-items: center;
	

	transition: all 0.5s ease;
	cursor: pointer;

	border-radius: 5px;	
	border: 1px solid #F2BD57;
}
.category object{
	width: 2.1vw;
	margin-left: 5%;
}
.category p{

	font-size: 16px;
	
	text-align: center;
	margin: 0;
}

.active{
	background-color: #F2BD57;
}
.active .category_icon{
	background-color: transparent !important;
}
/*                 -menu section-                 */	
#menu{
	grid-area: menu;

	position: relative;
	height: 100%;
	padding: 3vh 2vh 3vh 5vh;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow: scroll;
	gap:  5vh;

}
#menu::-webkit-scrollbar {display: block;}
.card{

	background: #FCF8F2;
	backdrop-filter: blur(40px);


	height: 35vh;
	min-width: 13vw;
	max-width: 13vw;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	border-radius: 25px;

	cursor: pointer;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60% 10% 10% 20%;

	grid-template-areas: 
		"card_image"
		"card_price"
		"card_star"
		"card_name";
}
.card_image{
	grid-area: card_image;
	width: 100%;

	padding: 10px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
.card_image img{
	position: relative;
	max-width: 150px;

}
.card_price{
	grid-area: card_price;

	font-size: 30px;
	font-weight: bold;

	text-align: center;

	color: #F2BD57;

}
.card_name{
	width: 100%;

	grid-area: card_name;
	margin: 0;

	font-family: 'Crimson Text', serif;
	font-size: 22px;
	word-wrap: break-word;

	padding: 0px 10px;

	text-align: center;

	overflow: scroll;

}
.card_star{
	padding: 5px 0;
	grid-area: card_star;

	font-size: 18px;
	color: #F2BD57;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.card_star i{
	margin-right: 5px;
}

#cart{
	grid-area: cart;
	padding: 0px 8vh;
	display: grid;
	grid-template-rows: 12% 58% 15% 15%;
	grid-template-areas: 
		"header"
		"bill"
		"total"
		"confirm";
	z-index: 996;
}
#cart header{
	font-family: 'Crimson Text', serif;
	grid-area: header;

	width: 100%;
	grid-area: header;

	font-size: 2.5vw;
	font-weight: 600;

	padding-bottom: 8px;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
#back{
	display: none;
}
#bill{
	grid-area: bill;

	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    flex-wrap: nowrap;
    overflow: scroll;

    padding: 10px 0px;

	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.cart_item{
	border-radius: 8px;
    background-color: #F0F1EF;

    width: 100%;
    flex: 0 0 70px;
    margin: 5px 0px;

    padding: 10px 15px;

	display: grid;
	grid-template-columns: 30% 50% auto;
	grid-template-rows: 70% auto;
	grid-template-areas: 
		"cartImg cartName cartMoney"
		"cartImg cartQuan cartMoney";

	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

}
.cartImg{
	grid-area: cartImg;

	display: flex;
	justify-content: center;
	align-items: center;
}
.cartImg img{
	max-width: 80%;

}
.cartName{
	grid-area: cartName;
	font-family: 'Crimson Text', serif;

	font-size: 20px;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: scroll;
}
.cartQuan{
	grid-area: cartQuan;

	font-size: 18px;

}
.cartMoney{
	grid-area: cartMoney;

	font-size: 35px;
	font-weight: bold;

	color: #F2BD57;

	display: flex;
	justify-content: center;
	align-items: center;

}
#total{
	grid-area: total;

	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	

	padding: 15px 0px;

	border-bottom: 2px solid rgba(0, 0, 0, 0.3);

}
.total_text{
	height: 50%;
	font-size: 25px;
	line-height: 50%;
	font-family: 'Crimson Text', serif;

	padding-top: 5px;
	padding-bottom: 10px ;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

}
.total_number{
	height: 50%;
	font-size: 50px;

	line-height: 50%;
	color: #F2BD57;

}
#confirm_order{
	grid-area: confirm;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;

}
#confirm_order .confirm_btn{
	width: 70%;
	height: 50%;

	border-radius: 10px;

	background-color: #F2BD57;

	color: black;
	font-size: 1.5vw;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

}
#payment{
	pointer-events: none;	
	opacity: 0;
	transform: translateY(10%) scale(.9);

	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: #F0F1EF;
	background-color: rgba(240, 241, 239, 0.3);

	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(40px);
}
#payment_back{
	position: absolute;
	top: 50px;
	left: 50px;

	color: #F2BD57;
	border-radius: 50%;

	cursor: pointer;

}
#payment_box{
	width: 400px;
	height: 450px;

	background-color: white;

	border-radius: 30px;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.background{
	position: relative;
	top: 0;
	left: 0;

	width: 400px;
	height: 180px;

	background-color: #F2BD57;

	border-radius: 30px 30px 0 0 ;
}
.first_box{
	position: absolute;
	top: 100px;
	left: 85px;

	width: 230px;
	height: 100px;

	background-color: rgba(255, 255, 255, 0.3);

	border-radius: 5px;

	z-index: 1001;

}
.second_box{
	position: absolute;
	top: 110px;
	left: 75px;


	width: 250px;
	height: 100px;

	background-color: rgba(255, 255, 255, 0.5);

	border-radius: 5px;

	z-index: 1002;
}
.third_box{
	position: absolute;
	top: 120px;
	left: 50px;


	width: 300px;
	height: 150px;

	background-color: rgba(255, 255, 255, 1);

	border-radius: 10px;

	z-index: 1003;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding: 30px 80px 30px 80px;
}
.payment_text{
	font-size: 30px;
	font-family: 'Crimson Text', serif;

}
.payment_number{
	font-size: 60px;

	font-weight: 900;

	color: #F2BD57;
}
.choose_text{
	font-size: 20px;

	position: absolute;
	top:  300px;

	width: 100%;
	text-align: center;
}
.pay_btn{
	position: absolute;
	top: 360px;

	width: 100%;

	padding: 0px 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;

}
.cash{
	width: 130px;
	height: 40px;

	background-color: #404040;
	color: white;

	border-radius: 10px;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}
#info{
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 999;
}
.information{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(240, 241, 239, 0.5);
	backdrop-filter:  blur(40px);

	border-radius: 3vw 3vw 3vw 3vw;

	z-index: 995;
	display: grid;

	grid-template-columns: 45% 55%;
	grid-template-rows: 40% 10% 10% 20% 20%;
	
	grid-template-areas: 
		"pic name"
		"pic price"
		"pic star"
		"pic des"
		"pic btn";

	opacity: 0;
	/*transform: translateY(10%) scale(.9);*/
	pointer-events: none;

	

}
.info_back{
	position: absolute;
	top: 30px;
	left: 30px;

	color: white;

	cursor: pointer;
}
.info_heart{
	position: absolute;
	top: 30px;
	right: 30px;

	color: #F2BD57;
}
.info_picture{
	grid-area: pic;

	background-color: #F2BD57;

	border-radius: 3vw 0vw 0vw 3vw;

	display: flex;
	justify-content: center;
	align-items: center;
}
.info_picture img{
	position: relative;
	width: 80%;
}
.info_name{
	grid-area: name;
	font-family: 'Crimson Text', serif;

	padding: 0px 30px;

	font-size: 50px;
	font-weight: bold;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.info_price{
	grid-area: price;

	padding: 0 30px;

	display: flex;
	align-items: center;
	justify-content: space-between;

}
.info_price .quantity{

	display: flex;
	align-items: center;
	justify-content: center;

}
.info_price p{

	font-size:  40px;

}
.info_price .quantity span{

	width: 40px;
	height: 40px;

	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;	

}
.minus{
	background-color: #F2BD57;

	color: white;

	font-size: 40px;
	border-radius: 5px;

	cursor: pointer;
}
.num{

	font-size: 25px;
	font-weight: 500;

}
.plus{
	background-color: #F2BD57;

	color: white;

	font-size: 40px;
	border-radius: 5px;

	cursor: pointer;
}
.info_star{
	grid-area: star;

	margin: 0px 30px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.info_star i{

	font-size: 40px;

	color: #F2BD57;

	margin-right: 10px;


}
.info_des{
	padding: 20px 0px;

	font-size: 18px;

	margin: 0px 30px;

	border-bottom: 2px solid rgba(0, 0, 0, 0.3);

	overflow: scroll;
}
.info_btn{
	grid-area: btn;

	padding: 10px 30px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.info_add{
	

	width: 40%;
	height: 60px;

	background-color: #F2BD57;

	border-radius: 10px;

	font-size: 20px;
	

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: all 0.5s ease;
}
.info_remove{

	width: 40%;
	height: 60px;

	background-color: #404040;
	color: white;

	border-radius: 10px;

	font-size: 20px;
	

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	text-align: center;

	display: none;

	transition: all 0.5s ease;

}
@media only screen and (max-width: 1250px){
	.card{
		height: 30vh;
		min-width: 40%;
	}

}

@media only screen and (max-width: 780px){
	body{
		width: 100vw;
		height: 100vh;
		display: block;
	}
	#banner h1{
		display: none;
	}
	#banner p{
		display: none;
	}
	#sidebar{
		position: fixed;
		top: 0;
		left: -100%;

		width: 40%;
		z-index: 990;

		background-color: #F2BD57;

		transition: all 0.5s ease;
	}
	main{
		width: 100vw;
		height: 100vh;

		border-radius: 0;

		margin: 0;
		left: 0;

		padding: 2vh 0;

		grid-template-columns: 100%;
		grid-template-rows: 20% 20% 60%;
		grid-template-areas: 
			"banner"
			"searchbox"
			"menu";
	}
	#banner{
		padding: 0px 8vw;
		padding-top: 10px;
	}
	label #btn,label #cancel{
		cursor: pointer; 
	}
	label #btn{
		position: fixed;
		margin-left: 8vw;
		left: 0;
		margin-top: calc(10px + 2vh);
		top: 0;

		display: block;

		z-index: 992;

		font-size: 25px;
		color: white;

		padding: 6px 12px;

		border-radius: 3px;

		background-color: #F2BD57;

		transition: all .5s ease;
		pointer-events: visible;
	}
	label #cancel{
		position: fixed;
		display: block;

		z-index: 991;
		left: -200%;
		top: 10px;

		font-size: 40px;
		color: #F2BD57;

		padding: 4px 9px;

		background-color: white;

		transition: all 0.5s ease;

		border-radius: 8px;

		pointer-events: visible;
	}
	#check:checked ~ #sidebar {
		left: 0;
	}	
	#check:checked ~ #sidebar ul{
		pointer-events: visible;
	}
	#check:checked ~ label #btn{
		left: 180px;
		opacity: 0;
		pointer-events: none;
	}
	#check:checked ~ label #cancel{
		left: 30%;
	}
	#open_cart{
		display: block;

		position: relative;
		width: 100%;
		height: 100%;

		transition: all 0.5s ease;
	}
	#open_cart p{
		margin: 0;
		margin-top: 25px;

		width: 25px;
		height: 25px;

		float: right;

		border-radius: 50%;

		background-color: #F2BD57;
		color: white;

		font-size: 12px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#open_cart img{
		position: relative;

		float: right;

		width: 50px;
		padding: 8px 8px;

		border-radius: 50%;

		background-color: #F2BD57;

		cursor: pointer;
	}
	#searchbox{
		padding: 0px 8vw;
	}
	#search_bar input{
		flex: 0 1 60%;


		font-size: 16px;

	}
	#search_bar .search_btn, .filter_btn{
		flex: 0 1 20%;

	}
	#menu{
		padding: 5vh 8vw !important;
	}
	#cart{
		position: fixed;
		top: 0;
		left: 100%;

		background-color: white;

		height: 100vh;
		width: 100vw;

		z-index: 991;
		transition: all .5s ease !important;

		overflow: hidden;
	}
	#cart header{
		font-size:  30px;
	}
	.cartMoney{

		font-size: 30px;

	}
	#back{
		display: block;

		position: absolute;
		top: 0;
		left: 0;

		z-index: 99;
		margin-top: 30px;
		margin-left: 10px;

		color: #F2BD57;
		border-radius: 50%;

		transition: all .5s ease !important;
	}
	.fa-search, .fa-sliders-h{ 
		font-size: 16px;
		color: white;
	}
	.category{
		min-width: 12vh;
	}
	.category object{
		width: 3vh;
		margin-left: 5%;
	}
	.card{

		height: 30vh;
		min-width: 35vw;

	}
	#payment_box{
		width: 300px;
		height: 400px;

	}
	.background{
		width: 300px;
		height: 150px;

		background-color: #F2BD57;

		border-radius: 30px 30px 0 0 ;
	}
	.first_box{
		position: absolute;
		top: 80px;
		left: 60px;

		width: 180px;
		height: 100px;

		background-color: rgba(255, 255, 255, 0.3);

		border-radius: 5px;

		z-index: 1001;

	}
	.second_box{
		position: absolute;
		top: 90px;
		left: 50px;


		width: 200px;
		height: 100px;

		background-color: rgba(255, 255, 255, 0.5);

		border-radius: 5px;

		z-index: 1002;
	}
	.third_box{
		position: absolute;
		top: 100px;
		left: 40px;


		width: 220px;
		height: 150px;

		background-color: rgba(255, 255, 255, 1);

		border-radius: 10px;

		z-index: 1003;

		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		padding: 30px 40px 30px 40px;
	}
	.payment_text{
		font-size: 25px;

	}
	.payment_number{
		font-size: 55px;

		font-weight: 900;

		color: #F2BD57;
	}
	.choose_text{
		font-size: 18px;

		position: absolute;
		top:  260px;

		width: 100%;
		text-align: center;
	}
	.pay_btn{
		position: absolute;
		top: 300px;

		width: 100%;

		padding: 0px 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

	}
	.cash{
		width: 150px;
		height: 30px;

		background-color: #404040;
		color: white;

		border-radius: 10px;

		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#info{
		z-index: 995 !important;
	}
	.information{
		position: fixed;

		width: 100%;
		height: 100%;

		background: white;
		border-radius: 0vw 0vw 0vw 0vw;

		grid-template-columns: 100%;
		grid-template-rows: 40% 16% 8% 8% 18% 10%;
		
		grid-template-areas: 
			"pic"
			"name"
			"price"
			"star"
			"des"
			"btn";

		
	}
	.info_back{
		position: absolute;
		top: 30px;
		left: 30px;

		color: white;
	}
	.info_heart{
		position: absolute;
		top: 30px;
		right: 30px;

		color: white;
	}
	.info_picture{
		grid-area: pic;

		background-color: #F2BD57;

		border-radius: 0vw 0vw 0vw 0vw;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info_picture img{
		position: relative;
		width: 250px;
	}
	.info_name{
		grid-area: name;

		padding: 0px 30px;
		padding-top: 10px;

		font-size: 40px;
		font-weight: bold;

		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
	.info_price{
		grid-area: price;

		padding: 0 30px;

		display: flex;
		align-items: center;
		justify-content: space-between;

	}
	.info_price .quantity{

		display: flex;
		align-items: center;
		justify-content: center;

	}
	.info_price p{

		font-size:  30px;

	}
	.info_price .quantity span{

		width: 40px;
		height: 40px;

		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;	

	}
	.minus{
		background-color: #F2BD57;

		color: white;

		font-size: 40px;
		border-radius: 5px;

		cursor: pointer;
	}
	.num{

		font-size: 18px;
		font-weight: 500;

	}
	.plus{
		background-color: #F2BD57;

		color: white;

		font-size: 40px;
		border-radius: 5px;

		cursor: pointer;
	}
	.info_star{
		grid-area: star;

		margin: 0px 30px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	}
	.info_star i{

		font-size: 30px;

		color: #F2BD57;

		margin-right: 5px;


	}
	.info_des{
		grid-area: des;
		padding: 20px 0px;

		font-size: 18px;

		margin: 0px 30px;

		border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	}
	.info_btn{
		grid-area: btn;

		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.info_add{

	}
	.info_remove{


	}
	.card_image img{
		max-width: 100px;

	}
	.card_price{
		font-size: 16px;
	}
	.card_name{
		font-size: 18px;
	}
	.card_star{
		font-size: 16px;
	}
	.card_star i{
		margin-right: 5px;
	}
}
@media only screen and (max-width: 500px){
	#menu{
		justify-content: flex-start;
		align-content: center;
		flex-wrap: nowrap;
		padding-top: 10vh !important;

	}
	.card{
		height: 40vh;
		min-width: 50vw;
	}
	.card_image img{
		max-width: 150px;

	}

	.card_price{
		font-size: 25px;
	}
	.card_name{
		font-size: 20px;
	}
}